@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}
@using WebCore.Services;
@using WebCore.Model.Enum;

@model WebCore.Entities.AirAirport
@{
    string id = string.Empty;
    string title = string.Empty;
    string summary = string.Empty;
    string iataCode = string.Empty;
    string areaId = string.Empty;
    string areaName = string.Empty;
    string enabled = string.Empty;
    string createdDate = string.Empty;

    if (Model != null)
    {
        id = Model.ID;
        title = Model.Title;
        summary = Model.Summary;
        iataCode = Model.IATACode;
        areaId = Model.AreaID;
        createdDate = Convert.ToString(Model.CreatedDate);
        if (Model.Enabled == (int)ModelEnum.Enabled.ENABLED)
        {
            enabled = "checked";
        }

        areaName = AreaGeographicalService.GetAreaName(areaId);
    }

}
    <div class="row">
        <div class="col-md-8">
            <div class="form-group ">
                <div class="top-pic">
                    <i class="fas fa-file-invoice"></i>&nbsp;<label>Thông tin:</label>
                </div>
            </div>
            <div class="form-group ">
                <label class="form-label">Khu vực: <span>@areaName</span></label>
            </div>
            <div class="form-group ">
                <label class="form-label">Tiêu đề: <span>@title</span></label>
            </div>

            <div class="form-group ">
                <label class="form-label">Mã IATA: <b style="color:#F00">@iataCode</b></label>
            </div>
            <div class="form-group ">
                <label class="form-label">Mô tả: <span>@summary</span> </label>
            </div>
            <div class="form-group ">
                <label class="form-label">Ngày tạo:  <span>@createdDate</span></label>
            </div>
            <div class="form-group text-right att-data-list">
                <a href="@Helper.Page.Navigate.PathDataList()">
                    @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>     
    </div>
@section scripts{
    <script src="~/Areas/Management/_script/app-flight.js"></script>
}