@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.ENM;
@using WebCore.Model.Enum;
@using WebCore.Model.Services

@using Helper.Language;
@using Helper.TimeData;
@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

@model WebCore.Entities.AirAgentResult
@{

    string id = "";
    string customerType = "";
    string customerCode = "";
    string parentID = "";
    string title = "";
    string alias = "";
    string summary = "";
    string address = "";
    string phone = "";
    string taxCode = "";
    string contactName = "";
    string contactEmail = "";
    string contactPhone = "";
    double depositAmount = 0;
    double spendingLimit = 0;
    int termPayment = 0;
    string path = "";
    string accountId = "";
    string languageId = "";
    string createdBy = "";
    string createdDate = "";
    string enabled = "...";
    //
    string loginId = "";

    if (Model != null)
    {
        id = Model.ID;
        customerCode = Model.CodeID;
        title = Model.Title;
        alias = Model.Alias;
        summary = Model.Summary;
        address = Model.Address;
        taxCode = Model.TaxCode;
        contactName = Model.ContactName;
        contactEmail = Model.ContactEmail;
        contactPhone = Model.ContactPhone;
        depositAmount = Model.DepositAmount;
        spendingLimit = Model.SpendingLimit;
        termPayment = Model.TermPayment;
        //
        languageId = Model.LanguageID;
        createdBy = Model.CreatedBy;
        createdDate = Convert.ToString(Model.CreatedDate);
        if (Model.Enabled == (int)ModelEnum.Enabled.ENABLED)
        {
            enabled = "Đang hoạt động";
        }
        else
        {
            enabled = "Không hoạt động";
        }
        loginId = UserService.GetLoginIDByID(accountId);
    }
}


<div class="row details">
    <div class="col-md-8">
        <div class="top-pic">
            <i class="fas fa-file-invoice"></i> <label>Thông tin hồ sơ:</label>
        </div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Loại khách hàng: </span> @customerType</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Mã khách hàng: </span><b style="color:#F00;">@customerCode</b></div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Tên khách hàng: </span> @title</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Mô tả: </span> @summary</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Đ.thoại: </span> @phone</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Địa chỉ: </span> @address</div>

        <div class="top-pic special">
            <i class="fas fa-server"></i> <label>Dịch vụ:</label>
        </div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Đặt cọc: </span><b class="text-dark">@Helper.Page.Library.FormatCurrency(depositAmount) đ</b></div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Thời hạn TT(ngày):</span>@termPayment</div>
        <div class="top-pic special">
            <label><i class="fas fa-address-book"></i> <span>Thông tin liên hệ:</span></label>
        </div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Người liên hệ:</span>@contactName</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>E-mail: </span>@contactEmail</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Đ.thoại: </span>@contactPhone</div>

        <div class="top-pic">
            <i class="fas fa-file-invoice"></i> <label>Hoạt động</label>
        </div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Trạng thái: </span>@enabled</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Ngày tạo: </span>@createdDate</div>
        @{
            if (PermissionService.CheckActionInMenuItem(Helper.Page.MetaSEO.ControllerText, WebCore.Entities.RoleActionKey.DataList))
            {
                <div class="form-group text-right att-data-list">
                    <a href="@Helper.Page.Navigate.PathDataList()">
                        @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            }
        }
    </div>
</div>
