@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.Model.Enum;
@using WebCore.Model.Services
@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

@model WebCore.Entities.AirAgentFeeResult
@{
    try
    {
        string id = string.Empty;
        string agentId = string.Empty;
        float amount = 0;
        if (Model != null)
        {
            id = Model.ID;
            amount = Model.Amount;
            agentId = Model.AgentID;
        }
        <div class="row">
            <div class="col-md-5">
                @if (!Helper.Current.UserLogin.IsCustomerLogged())
                {
                    <div class="form-group">
                        <label class="form-label">Khách hàng:</label>
                        <select id="ddlCustomer" name="ddlCustomer" class="form-control show-tick">
                            <option value="">-@Helper.Language.Resource.Label.Option-</option>
                            @Html.Raw(ClientLoginService.DropdownAllProvider(agentId))
                        </select>
                        <span id="lblCustomer" class="message msg-box"></span>
                    </div>
                }

                <div class="form-group">
                    <label class="form-label">Hãng hàng không:</label>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Hãng</th>
                                @{
                                    AirportTypeService airportTypeService = new AirportTypeService();
                                    List<AirportTypeOption> airportTypeOptions = airportTypeService.DataOption();
                                    if (airportTypeOptions.Count > 0)
                                    {
                                        foreach (var item in airportTypeOptions)
                                        {
                                            string actived = string.Empty;
                                            if (item == airportTypeOptions[0])
                                            {
                                                actived = "checked";
                                            }
                                            string name = "rdoClientCustomer" + @item.ID;
                                            <th>Nội địa</th>
                                        }
                                    }
                                } 
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>VA</td>
                                @{
                                    if (airportTypeOptions.Count > 0)
                                    {
                                        foreach (var item in airportTypeOptions)
                                        {
                                            <td style="padding:0"><input name="inp01" value="30 000 000" style="border:none; width:100%; height:32px" /></td>
                                        }
                                    }
                                }
                            </tr>
                            <tr>
                                <td>VA</td>
                                @{
                                    if (airportTypeOptions.Count > 0)
                                    {
                                        foreach (var item in airportTypeOptions)
                                        {
                                            <td style="padding:0"><input name="inp01" value="30 000 000" style="border:none; width:100%; height:32px" /></td>
                                        }
                                    }
                                }
                            </tr>
                            <tr>
                                <td>VA</td>
                                @{
                                    if (airportTypeOptions.Count > 0)
                                    {
                                        foreach (var item in airportTypeOptions)
                                        {
                                            <td style="padding:0"><input name="inp01" value="30 000 000" style="border:none; width:100%; height:32px" /></td>
                                        }
                                    }
                                }
                            </tr>
                            <tr>
                                <td>VA</td>
                                @{
                                    if (airportTypeOptions.Count > 0)
                                    {
                                        foreach (var item in airportTypeOptions)
                                        {
                                            <td style="padding:0"><input name="inp01" value="30 000 000" style="border:none; width:100%; height:32px" /></td>
                                        }
                                    }
                                }
                            </tr>
                            <tr>
                                <td>VA</td>
                                @{
                                    if (airportTypeOptions.Count > 0)
                                    {
                                        foreach (var item in airportTypeOptions)
                                        {
                                            <td style="padding:0"><input name="inp01" value="30 000 000" style="border:none; width:100%; height:32px" /></td>
                                        }
                                    }
                                }
                            </tr>
                        </tbody>
                    </table>




                    <select id="ddlAirline" name="ddlAirline" class="form-control show-tick">
                        <option value="">-@Helper.Language.Resource.Label.Option-</option>
                        @Html.Raw(ClientLoginService.DropdownAllProvider(agentId))
                    </select>
                    <span id="lblCustomer" class="message msg-box"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Loại hành trình:</label>
                    <div class="row">
                        @{ 
                            if (airportTypeOptions.Count > 0)
                            {
                                foreach (var item in airportTypeOptions)
                                {
                                    string actived = string.Empty;
                                    if (item == airportTypeOptions[0])
                                    {
                                        actived = "checked";
                                    }
                                    string name = "rdoClientCustomer" + @item.ID;
                                    <div class="col-xs-6">
                                        <div class="inp-check">
                                            <input class="form-check-input" type="radio" name="rdoClientType" id="@name" value="@item.ID" data-text="@item.Title" @actived />
                                            <label class="form-check-label" for="@name">@item.Title</label>
                                            <hr />
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                    <span id="lblClientType" class="message msg-box"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Số tiền (đ):</label>
                    <div class="input-group" style="margin-bottom:0px;">
                        <input id="txtAmount" type="text" class="form-control" value="@Helper.Page.Library.FormatCurrency(amount, false)" maxlength="8" data-currency="true" />
                        <span class="input-group-btn">
                            <button id="btnFeeApply" type="button" class="btn btn-primary">Áp dụng</button>
                        </span>
                    </div>
                    <span id="lblAmount" class="message msg-box"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 m-t-30">
                <label class="form-label">Lưu ý:</label>
                <div class="form-group">
                    <p>
                        <i class="fas fa-check-circle"></i> Phí dịch vụ giới hạn từ 0 - 100 000 000 đ.
                    </p>
                    <p>
                        <i class="fas fa-check-circle"></i> Phí dịch vụ sẽ được áp dụng sau khi bạn thực hiện thay đổi.
                    </p>
                </div>
            </div>
        </div>
        <input id="txtID" type="hidden" value="@id" />
    }
    catch (Exception)
    {
        @Html.Partial("~/Areas/Template/Views/_ViewNotPageLoadPatial.cshtml", null)
    }
}

@section scripts{
    <script src="~/Areas/Management/_script/agent-fee.js"></script>
}
