@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.ENM;
@using WebCore.Model.Enum;
@using WebCore.Model.Services

@using Helper.Language;
@using Helper.TimeData;
@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

@model WebCore.Entities.CompanyResult
@{

    string id = "";
    string customerType = "";
    string customerCode = "";
    string title = "";
    string alias = "";
    string summary = "";
    string address = "";
    string phone = "";
    string taxCode = "";
    string contactName = "";
    string contactEmail = "";
    string contactPhone = "";
    double spendingLimit = 0;
    int termPayment = 0;
    string accountId = "";
    string languageId = "";
    string createdBy = "";
    string createdDate = "";
    string enabled = "...";
    //
    string loginId = "";

    if (Model != null)
    {
        id = Model.ID;
        customerCode = Model.CodeID;
        title = Model.Title;
        alias = Model.Alias;
        summary = Model.Summary;
        address = Model.Address;
        taxCode = Model.TaxCode;
        contactName = Model.ContactName;
        contactEmail = Model.ContactEmail;
        contactPhone = Model.ContactPhone;
        termPayment = Model.TermPayment;
        //
        languageId = Model.LanguageID;
        createdBy = Model.CreatedBy;
        createdDate = Convert.ToString(Model.CreatedDate);
        if (Model.Enabled == (int)ModelEnum.Enabled.ENABLED)
        {
            enabled = "Đang hoạt động";
        }
        else
        {
            enabled = "Không hoạt động";
        }
        loginId = UserService.GetLoginIDByID(accountId);
    }
}


<div class="row details">
    <div class="col-md-8">
        <div class="top-pic">
            <i class="fas fa-file-invoice"></i> <label>Thông tin hồ sơ:</label>
        </div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Loại khách hàng:</span> <span>@customerType</span></div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Mã khách hàng:</span> <b style="color:#F00;">@customerCode</b></div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Tên khách hàng:</span> <span>@title</span></div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Mô tả:</span> <span>@summary</span></div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Đ.thoại:</span> <span>@phone</span></div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Địa chỉ:</span> <span> @address</span></div>

        <div class="top-pic special">
            <i class="fas fa-server"></i> <label>Dịch vụ:</label>
        </div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <label>Thời hạn TT(ngày):</label> <span>@termPayment</span></div>
        <div class="top-pic special">
            <label><i class="fas fa-address-book"></i> <span>Thông tin liên hệ:</span></label>
        </div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Người liên hệ:</span> <span>@contactName</span></div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>E-mail:</span> <span>@contactEmail</span></div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Đ.thoại:</span> <span>@contactPhone</span></div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Trạng thái:</span> <span>@enabled</span></div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Ngày tạo:</span> <span>@createdDate</span></div>
        @{
            if (PermissionService.CheckActionInMenuItem(Helper.Page.MetaSEO.ControllerText, WebCore.Entities.RoleActionKey.DataList))
            {
                <div class="form-group text-right att-data-list">
                    <a href="@Helper.Page.Navigate.PathDataList()">
                        @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            }
        }
    </div>
</div>
