@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.ENM
@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
    string supplierId = string.Empty;
    string supplierCodeId = string.Empty;
    if (Helper.Current.UserLogin.IsClientInApplication())
    {
        supplierId = ClientLoginService.GetClientIDByUserID(Helper.Current.UserLogin.IdentifierID);
    }
}
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-7">
                <div class="form-group ">
                    <label class="form-label">Đại lý:</label>
                    <select id="ddlAgentReceived" name="ddlAgentReceived" class="form-control show-tick" data-live-search="true">
                        <option value="">-Lựa chọn-</option>
                        @Html.Raw(AirAgentService.DropdownListAgentSub("", supplierId))
                    </select>
                    <span id="lbldAgentReceived" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="form-label">MDL:</label>
                    <div class="form-control disabled" style="background: #FFE5F1"><label id="lblSupplierCodeID">@supplierCodeId</label></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Mã giao dịch:</label>
            <input id="txtTransactionCode" name="txtTransactionCode" maxlength="30" type="text" class="form-control" />
            <span id="lblTransactionCode" class="message msg-box"></span>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label class="form-label">Ngân hàng chuyển:</label>
                    <select id="ddlBankSend" name="ddlBankSend" class="form-control show-tick" data-live-search="true">
                        <option value="">-Lựa chọn-</option>
                        @Html.Raw(BankService.DropdownList(""))
                    </select>
                    <span id="lblBankSend" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="form-label">Số TK chuyển:</label>
                    <input id="txtBankSendNumber" name="txtBankSendNumber" maxlength="20" type="text" class="form-control" />
                    <span id="lblBankSendNumber" class="message msg-box"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label class="form-label">Ngân hàng nhận:</label>
                    <select id="ddlBankReceived" name="ddlBankReceived" class="form-control show-tick" data-live-search="true">
                        <option value="">-Lựa chọn-</option>
                        @Html.Raw(BankService.DropdownList(""))
                    </select>
                    <span id="lblBankReceived" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="form-label">Số TK nhận:</label>
                    <input id="txtBankReceivedNumber" name="txtBankReceivedNumber" maxlength="20" type="text" class="form-control" />
                    <span id="lblBankReceivedNumber" class="message msg-box"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label class="form-label">Số tiền(vnd):</label>
                    <input id="txtAmount" name="txtAmount" data-currency="true" maxlength="15" type="text" class="form-control" />
                    <span id="lblAmount" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="form-label">Ngày nhận(dd/mm/yyyy):</label>
                    <input id="txtReceivedDate" name="txtReceivedDate" data-date="true" maxlength="15" type="text" class="form-control" />
                    <span id="lblReceivedDate" class="message msg-box"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Tiêu đề</label>
            <input id="txtTitle" name="txtTitle" maxlength="50" type="text" class="form-control" value="Nạp tiền vào tài khoản" disabled data-notreload="true" />
            <span id="lblTitle" class="message msg-box"></span>
        </div>
        <div class="form-group">
            <label class="form-label">Mô tả</label>
            <textarea id="txtSummary" name="txtSummary" class="form-control default"></textarea>
            <span id="lblSummary" class="message msg-box"></span>
        </div>
        <div class="form-group text-right">
            <button id="btnReset" class="btn btn-danger" type="reset">@Helper.Language.Resource.Label.BtnReset</button>
            <button id="btnCreate" class="btn btn-primary" type="button">@Helper.Language.Resource.Label.BtnCreate</button>
        </div>
        @{
            if (PermissionService.CheckActionInMenuItem(Helper.Page.MetaSEO.ControllerText, WebCore.Entities.RoleActionKey.DataList))
            {
                <div class="form-group text-right att-data-list">
                    <a href="@Helper.Page.Navigate.PathDataList()">
                        @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            }
        }
    </div>
</div>
@section scripts{
    <script src="~/Areas/Management/_script/trans-deposit.js"></script>
}

