@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.ENM;
@using WebCore.Model.Enum;
@using WebCore.Model.Services

@using Helper.Language;
@using Helper.TimeData;
@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

@model WebCore.Entities.AirResBookDesigResult
@{

    string id = string.Empty;
    string title = string.Empty;
    string summary = string.Empty;
    string codeId = string.Empty;
    int voidBookTime = 0;
    string enabled = string.Empty;
    string createdBy = string.Empty;
    string createdDate = string.Empty;

    if (Model != null)
    {
        id = Model.ID;
        title = Model.Title;
        summary = Model.Summary;
        codeId = Model.CodeID;
        voidBookTime = Model.VoidBookTime;
        createdBy = Model.CreatedBy;
        createdDate = Model.CreatedDate;
        if (Model.Enabled == (int)ModelEnum.Enabled.ENABLED)
        {
            enabled = "checked";
        }
    }
}
<div class="row details">
    <div class="col-md-8">
        <div class="form-group ">
            <div class="top-pic">
                <i class="fas fa-file-invoice"></i>&nbsp;<label>Thông tin:</label>
            </div>
        </div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Tiêu đề: </span>@title</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Mã đặt chỗ: </span>@codeId</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>T.Gian hủy đặt chỗ: </span> <b style="color:#F00">@voidBookTime</b> h</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Mô tả: </span>@summary</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> <span>Ngày tạo: </span>@createdDate</div> 
        @{
            if (PermissionService.CheckActionInMenuItem(Helper.Page.MetaSEO.ControllerText, WebCore.Entities.RoleActionKey.DataList))
            {
                <div class="form-group text-right att-data-list">
                    <a href="@Helper.Page.Navigate.PathDataList()">
                        @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            }
        }
    </div>
</div>

