@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.ENM;
@using WebCore.Model.Enum;
@using WebCore.Model.Services

@using Helper.Language;
@using Helper.TimeData;
@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

@model WebCore.Entities.AirResBookDesig

@{

    string id = string.Empty;
    string title = string.Empty;
    string summary = string.Empty;
    string codeId = string.Empty;
    int voidBookTime = 0;
    string enabled = string.Empty;

    if (Model != null)
    {
        id = Model.ID;
        title = Model.Title;
        summary = Model.Summary;
        codeId = Model.CodeID;
        voidBookTime = Model.VoidBookTime;
        if (Model.Enabled == (int)ModelEnum.Enabled.ENABLED)
        {
            enabled = "checked";
        }
    }
}


<div class="col-md-8">
    <div class="form-group">
        <label class="form-label">Tiêu đề:</label>
        <input id="txtTitle" name="txtTitle" maxlength="50" type="text" class="form-control" value="@title" />
        <span id="lblTitle" class="message msg-box"></span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Hạng đặt chỗ:</label>
                <input id="txtCode" name="txtCode" maxlength="1" type="text" class="form-control" value="@codeId" />
                <span id="lblCode" class="message msg-box"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">T.gian hủy chỗ(h):</label>
                <input id="txtVoidBookTime" name="txtVoidBookTime" maxlength="1" type="text" class="form-control" value="@voidBookTime" />
                <span id="lblVoidBookTime" class="message msg-box"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="form-label">Mô tả:</label>
        <textarea id="txtSummary" name="txtSummary" class="form-control">@summary</textarea>
        <span id="lblSummary" class="message msg-box"></span>
    </div>
    <div class="form-group m-t-5">
        <input id="cbxActive" name="cbxActive" type="checkbox" class="filled-in" @enabled />
        <label for="cbxActive">Kích hoạt</label>
        <span id="lblActive" class="message msg-box"></span>
    </div>
    <div class="form-group  text-right ">
        <button id="btnReset" class="btn btn-danger" type="reset">@Helper.Language.Resource.Label.BtnReset</button>
        <button id="btnUpdate" class="btn btn-primary" type="button">@Helper.Language.Resource.Label.BtnUpdate</button>
    </div>

    @{
        if (PermissionService.CheckActionInMenuItem(Helper.Page.MetaSEO.ControllerText, WebCore.Entities.RoleActionKey.DataList))
        {
            <div class="form-group text-right att-data-list">
                <a href="@Helper.Page.Navigate.PathDataList()">
                    @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        }
    }
</div>
<input id="txtID" type="hidden" value="@id" />

@section scripts{
    <script src="~/Areas/Management/_script/app-airres-book-desig.js"></script>
}


