@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.ENM;
@using WebCore.Model.Enum;
@using WebCore.Model.Services

@using Helper.Language;
@using Helper.TimeData;
@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

@model WebCore.Entities.AirAgentResult
<div class="col-md-8">
    @{
        if (Model != null)
        {
            <div class="form-group">
                <h4>Đại lý: @Model.Title</h4>
                <hr />
            </div>
            <div class="form-group">
                <i class="fas fa-check-circle"></i> Mã đại lý: @Model.CodeID, Ngày đăng ký: @Model.CreatedDate
            </div>
            <div class="form-group">
                <i class="fas fa-check-circle"></i> Điện thoại: @Model.CompanyPhone, Email: @Model.ContactEmail
            </div>
            <div class="form-group">
                <i class="fas fa-check-circle"></i> Địa chỉ: @Model.Address
            </div>
        }
    }
    <div class="container-fluid">
        <p>
            Biểu đồ đặt vé (6th): <span id="mousespeed">Loading..</span>
        </p>
        <canvas id="line_chart" style="width:100%; height:150px;"></canvas>
    </div>
</div>
@*<script src="~/_themes/library/plugins/charts/chartjs/Chart.min.js"></script>*@
@section scripts{
    <script>
        //$(function () {
        //    new Chart($("#line_chart")[0].getContext('2d'), getChartJs('line'));
        //    //new Chart(document.getElementById("bar_chart1").getContext("2d"), getChartJs('bar'));
        //    //new Chart(document.getElementById("radar_chart").getContext("2d"), getChartJs('radar'));
        //    //new Chart(document.getElementById("pie_chart1").getContext("2d"), getChartJs('pie'));
        //    //var json_url = "/team/chart-line.json";

        //});

        $(function () {
            var ctx = $("#line_chart")[0].getContext('2d');
            // examine example_data.json for expected response data
            var json_url = "/team/chart-line.json";

            // draw empty chart
            var bookingChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Đặt vé",
                        data: [],
                        borderColor: 'rgba(0, 188, 212, 0.75)',
                        backgroundColor: 'rgba(0, 188, 212, 0.3)',
                        pointBorderColor: 'rgba(0, 188, 212, 0)',
                        pointBackgroundColor: 'rgba(0, 188, 212, 0.9)',
                        pointBorderWidth: 1,
                        borderWidth:1
                    }
                        //    ,
                        //{
                        //    label: "My Second dataset",
                        //    data: [28, 48, 40, 19, 86, 27, 90],
                        //    borderColor: 'rgba(233, 30, 99, 0.75)',
                        //    backgroundColor: 'rgba(233, 30, 99, 0.3)',
                        //    pointBorderColor: 'rgba(233, 30, 99, 0)',
                        //    pointBackgroundColor: 'rgba(233, 30, 99, 0.9)',
                        //    pointBorderWidth: 1
                        //}
                    ]
                },
                options: {
                    responsive: true,
                    legend: false
                }
            });

            ajax_chart(bookingChart, json_url);
            // function to update our chart
            function ajax_chart(chart, url, data) {
                var data = data || {};
                $.getJSON(url, data).done(function (response) {
                    chart.data.labels = response.labels;
                    chart.data.datasets[0].data = response.data.quantity; // or you can iterate for multiple datasets
                    chart.update(); // finally update our chart
                });
            }
        });
    </script>
}