@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.ENM;

@using WebCore.Model.Enum;
@using WebCore.Model.Services
@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            @{
                string tiketingId = string.Empty;
                if (Helper.Current.UserLogin.IsAgentLogged())
                {
                    tiketingId = Helper.Current.UserLogin.IdentifierID;
                }
            }
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Nhân viên:</label>
                    <select id="ddlEmployee" name="ddlEmployee" class="form-control show-tick" data-live-search="true">
                        <option value="">-@Helper.Language.Resource.Label.Option-</option>
                        @Html.Raw(UserClientService.DropdownListTiketing(tiketingId))
                    </select>
                    <span id="lblEmployee" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">PNA code:</label>
                    <input id="txtPnr" name="txtPnr" maxlength="8" type="text" class="form-control" value="" />
                    <span id="lblPnr" class="message msg-box"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Thông tin khách hàng:</label>
            <hr style="padding:0px; margin:0px;" />
        </div>
        <div class="form-group">
            <input id="cbxHaunt" name="cbxCustomerType" type="checkbox" class="filled-in" checked value="2" />
            <label for="cbxHaunt" style="padding-top:2px; margin-bottom:0px;">Khách lẻ</label>
        </div>
        <div class="form-group">
            Lưu ý: Đối với khách lẻ, hệ thống sẽ tự động cập nhật thông tin, sau khi thực hiện đồng bộ dữ liệu.
        </div>
        <div class="form-group">
            <input id="cbxCompany" name="cbxCustomerType" type="checkbox" class="filled-in" value="1" />
            <label for="cbxCompany" style="padding-top:2px; margin-bottom:0px;">Công ty</label>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <select id="ddlCompany" name="ddlCompany" class="form-control show-tick" data-live-search="true">
                        <option value="">-@Helper.Language.Resource.Label.Option-</option>
                        @Html.Raw(CompanyService.DropdownList(""))
                    </select>
                    <span id="lblCompany" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-control disabled" style="background: #FFE5F1"><label id="lblProviderCodeID">- - -</label></div>
                </div>
            </div>
        </div>


        <div class="form-group text-right">
            <button id="btnReset" class="btn btn-danger" type="reset">@Helper.Language.Resource.Label.BtnReset</button>
            <button id="btnSync" class="btn btn-primary" type="button">@Helper.Language.Resource.Label.BtnUpdate</button>
        </div>
        @{
            if (PermissionService.CheckActionInMenuItem(Helper.Page.MetaSEO.ControllerText, WebCore.Entities.RoleActionKey.DataList))
            {
                <div class="form-group text-right att-data-list">
                    <a href="@Helper.Page.Navigate.PathDataList()">
                        @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            }
        }
    </div>
</div>

@section scripts{
    <script src="~/Areas/Management/_script/app-order.js"></script>
    <script type="text/javascript">
        $(function () {
            $(document).on('change', 'input[name="cbxCustomerType"]', function () {
                $('input[name="cbxCustomerType"]').not(this).prop('checked', false); 
            });
        }); 
    </script>
}
