@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}
@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.Model.Enum;

@model WebCore.Entities.Supplier
@{
    string id = "";
    string typeId = "";
    string codeId = "";
    string parentID = "";
    string title = "";
    string alias = "";
    string summary = "";
    string address = "";
    string companyPhone = "";
    string taxCode = "";
    string contactName = "";
    string contactEmail = "";
    string contactPhone = "";
    string path = "";
    string accountId = "";
    string languageId = "";
    string createdBy = "";
    string createdDate = "";
    string enabled = "Chưa kích hoạt";
    //
    string _loginId = "";
    try
    {
        if (Model != null)
        {
            id = Model.ID;
            typeId = Model.TypeID;
            codeId = Model.CodeID;
            parentID = Model.ParentID;
            title = Model.Title;
            alias = Model.Alias;
            summary = Model.Summary;
            address = Model.Address;
            taxCode = Model.TaxCode;
            companyPhone = Model.CompanyPhone;
            contactName = Model.ContactName;
            contactEmail = Model.ContactEmail;
            contactPhone = Model.ContactPhone;
            path = Model.Path;
            //
            languageId = Model.LanguageID;
            createdBy = Model.CreatedBy;
            createdDate = Convert.ToString(Model.CreatedDate);
            if (Model.Enabled == (int)ModelEnum.Enabled.ENABLED)
            {
                enabled = "Đã kích hoạt";
            }
            _loginId = UserService.GetLoginIDByID(accountId);
        }
    }
    catch (Exception)
    {

    }
}
<div class="row">
    <div class="col-md-8">
        <div class="top-pic">
            <i class="fas fa-file-invoice"></i>&nbsp;<label>Thông tin hồ sơ:</label>
        </div>
        <div class="form-group"><i class="fas fa-check-circle"></i> Tên khách hàng: @title</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> Loại khách hàng: Nhà cung cấp</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> Mã nhà cung cấp: <b style="color:#F00;">@codeId</b></div>
        <div class="form-group"><i class="fas fa-check-circle"></i> Mã số thuế: <span style="font-weight:400; color:#F00;">@taxCode</span></div>
        <div class="form-group"><i class="fas fa-check-circle"></i> Mô tả: @summary</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> Đ.thoại: @companyPhone</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> Địa chỉ: @address</div>
        <div class="top-pic special">
            <label><i class="fas fa-address-book"></i>&nbsp;<span>Thông tin liên hệ:</span></label>
        </div>
        <div class="form-group"><i class="fas fa-check-circle"></i> Người liên hệ: @contactName</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> E-mail: @contactEmail</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> Đ.thoại: @contactPhone</div>

        <div class="top-pic">
            <i class="fas fa-file-invoice"></i>&nbsp;<label>Hoạt động</label>
        </div>
        <div class="form-group"><i class="fas fa-check-circle"></i> Trạng thái: @enabled</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> Ngày tạo: @createdDate</div>
        <div class="form-group text-right att-data-list">
            <a href="@Helper.Page.Navigate.PathDataList()">
                @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>
