@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}
@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.Model.Enum;

@model WebCore.Entities.Supplier
@{
    string id = "";
    string typeId = "";
    string codeId = "";
    string parentID = "";
    string title = "";
    string alias = "";
    string summary = "";
    string address = "";
    string companyPhone = "";
    string taxCode = "";
    string contactName = "";
    string contactEmail = "";
    string contactPhone = "";
    string path = "";
    string accountId = "";
    string languageId = "";
    string createdBy = "";
    string createdDate = "";
    string enabled = "None";
    //
    string _loginId = "";
    try
    {
        if (Model != null)
        {

            id = Model.ID;
            typeId = Model.TypeID;
            codeId = Model.CodeID;
            parentID = Model.ParentID;
            title = Model.Title;
            alias = Model.Alias;
            summary = Model.Summary;
            address = Model.Address;
            taxCode = Model.TaxCode;
            companyPhone = Model.CompanyPhone;
            contactName = Model.ContactName;
            contactEmail = Model.ContactEmail;
            contactPhone = Model.ContactPhone;
            path = Model.Path;
            //
            languageId = Model.LanguageID;
            createdBy = Model.CreatedBy;
            createdDate = Convert.ToString(Model.CreatedDate);
            if (Model.Enabled == (int)ModelEnum.Enabled.ENABLED)
            {
                enabled = "checked";
            }
            _loginId = UserService.GetLoginIDByID(accountId);
        }
    }
    catch (Exception)
    {

    }
}
<div class="row">
    <div class="col-md-7">
        <div class="top-pic special">
            <label><i class="fas fa-building"></i>&nbsp;<span>Nhà cung cấp:</span></label>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="form-label">Nhà cung cấp:</label>
                    <input id="txtCodeID" name="txtCodeID" maxlength="3" type="text" class="form-control" style="background: #CCFFCD" value="@codeId" disabled />
                    <span id="lblCodeID" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Loại hình:</label> #
                    <div class="form-control disabled" style="background: #FFE5F1">Nhà cung cấp</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Tên khách hàng:</label>
            <input id="txtTitle" name="txtTitle" maxlength="80" type="text" class="form-control" value="@title" />
            <span id="lblTitle" class="message msg-box"></span>
        </div>
        <div class="form-group">
            <label class="form-label">Mô tả:</label>
            <textarea id="txtSummary" name="txtSummary" class="form-control default">@summary</textarea>
            <span id="lblSummary" class="message msg-box"></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Mã số thuế:</label>
                    <input id="txtTaxCode" name="txtTaxCode" maxlength="20" type="text" class="form-control" value="@taxCode" />
                    <span id="lblTaxCode" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Số điện thoại:</label>
                    <input id="txtCompanyPhone" name="txtCompanyPhone" maxlength="20" type="text" class="form-control" value="@companyPhone" />
                    <span id="lblCompanyPhone" class="message msg-box"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Địa chỉ:</label>
            <input id="txtAddress" name="txtAddress" maxlength="255" type="text" class="form-control" value="@address" />
            <span id="lblAddress" class="message msg-box"></span>
        </div>
        <div class="top-pic special">
            <label><i class="fas fa-address-book"></i>&nbsp;<span>Thông tin liên hệ:</span></label>
        </div>
        <div class="form-group">
            <label class="form-label">Tên liên hệ:</label>
            <input id="txtContactName" name="txtContactName" maxlength="50" type="text" class="form-control" value="@contactName" />
            <span id="lblContactName" class="message msg-box"></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">E-mail:</label>
                    <input id="txtContactEmail" name="txtContactEmail" maxlength="20" type="text" class="form-control" value="@contactEmail" />
                    <span id="lblContactEmail" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Đ.thoại:</label>
                    <input id="txtContactPhone" name="txtContactPhone" maxlength="50" type="text" class="form-control" value="@contactPhone" />
                    <span id="lblContactPhone" class="message msg-box"></span>
                </div>
            </div>
        </div>
        <div class="form-group m-t-5">
            <input id="cbxActive" name="cbxActive" type="checkbox" class="filled-in" @enabled />
            <label for="cbxActive">Kích hoạt</label>
            <span id="lblActive" class="message msg-box"></span>
        </div>
        <div class="form-group text-right">
            <button id="btnReset" class="btn btn-danger" type="reset">@Helper.Language.Resource.Label.BtnReset</button>
            <button id="btnUpdate" class="btn btn-primary" type="button">@Helper.Language.Resource.Label.BtnUpdate</button>
        </div>
        @{
            if (PermissionService.CheckActionInMenuItem(Helper.Page.MetaSEO.ControllerText, WebCore.Entities.RoleActionKey.DataList))
            {
                <div class="form-group text-right att-data-list">
                    <a href="@Helper.Page.Navigate.PathDataList()">
                        @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            }
        }
    </div>
</div>
<input id="txtID" type="hidden" value="@id" />
@section scripts{
    <script src="~/Areas/Management/_script/supplier.js"></script>
}


