@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.Model.Enum;
@using WebCore.Model.Services;
@using WebCore.ENM;
@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}
@model List<ApiPortalBooking.Models.FlightPassengerTypeInfo>
@section styles{
    <link href="~/_themes/manage/site/flight.css" rel="stylesheet" />
}
@{
    string userId = Helper.Current.UserLogin.IdentifierID;
    List<AirAgentOption> customerOptions = new List<AirAgentOption>();
}
<section class="book-in">
    <div id="BookingForm">
        <div class="top-pic special">
            <label><i class="fas fa-plane-departure"></i>&nbsp;<span>Thông tin hành trình:</span></label>
        </div>
        <div class="table-responsive mgt-40">
            <table id="TblFlight" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Hãng</th>
                        <th>Số hiệu</th>
                        <th>Hành trình</th>
                        <th>Lịch trình</th>
                        <th>Hạng</th>
                        <th>Bảng Giá thành phần bao gồm thuế/ hành khách </th>
                        <th>Tổng Giá</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="TblRowGo">
                        <td>
                            <label class="lblTrademark"></label>
                        </td>
                        <td>
                            <label class="lblFlightNo"></label>
                        </td>
                        <td>
                            <label class="lblItinerary"></label>
                        </td>
                        <td>
                            <span class="lblItineraryTime"></span>
                        </td>
                        <td class="text-center">
                            <label class="lblResbookdesigcode"></label>
                        </td>
                        <td class="td-inf-price">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody id="TblGoPriceInfo">
                                    <tr><td class="error-priceinfo"></td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="td-faretotal text-right">
                            <label class="depart-price"></label>
                        </td>
                    </tr>
                    <tr id="TblRowGo">
                        <td>
                            <label class="lblTrademark"></label>
                        </td>
                        <td>
                            <label class="lblFlightNo"></label>
                        </td>
                        <td>
                            <label class="lblItinerary"></label>
                        </td>
                        <td>
                            <span class="lblItineraryTime"></span>
                        </td>
                        <td class="text-center">
                            <label class="lblResbookdesigcode"></label>
                        </td>
                        <td class="td-inf-price">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody id="TblGoPriceInfo">
                                    <tr><td class="error-priceinfo"></td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="td-faretotal text-right">
                            <label class="depart-price"></label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" class="total-itinerary text-right"><label>Tổng:&nbsp; </label> <label class="text-right total-itinerary-price">Đang cập nhật...</label></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="top-pic special">
            <label><i class="fas fa-info-circle" aria-hidden="true"></i>&nbsp;<span>Thông tin hành khách:</span></label>
        </div>

        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <div class="row">
                    <div class="container-fluid" data-PassengerType="@item.PassengerType">
                        <div class="row mgb-15">
                            <div class="col-md-12">
                                <label style="font-size:18px">@item.PassengerName</label>
                            </div>
                        </div>
                        @for (int i = 0; item.Quantity > 0 && i < item.Quantity; i++)
                        {
                            <div class="row" data-PassengerInf="@item.PassengerType">
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class="form-label">Họ và tên (@Html.Raw(i + 1)):</label>
                                        <input name="txtFullName" maxlength="50" type="text" class="form-control" value="Nguyen Van A" />
                                        <span name="lblFullName" class="message msg-box"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group ">
                                        <label class="form-label">Giới tính:</label>
                                        <select name="ddlGender" class="form-control show-tick" data-live-search="true">
                                            <option value="1">Nam</option>
                                            <option value="2">Nữ</option>
                                        </select>
                                        <span id="lblReturnDateTime" class="message msg-box"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class="form-label">Ng.Sinh:</label>
                                        <input name="txtBirthDay" data-name="txtBirthDay" data-date="true" maxlength="10" type="text" class="form-control" placeholder="dd-mm-yyyy" />
                                        <span name="lblBirthDay" class="message msg-box"></span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
        @{
            string agentId = string.Empty;
        }
        <div class="top-pic special">
            <label><span><i class="fas fa-user-circle" aria-hidden="true"></i>&nbsp;Nhân viên đặt vé:</span></label>
        </div>
        <div class="row">
            <div class="col-md-8">
                @if (Helper.Current.UserLogin.IsClientInApplication() && !Helper.Current.UserLogin.IsAdminAgentLogged())
                {
                    ClientLoginService clientLoginService = new ClientLoginService();
                    string client = ClientLoginService.GetAgentIDByUserID(userId);
                    UserInfoService userInfoService = new UserInfoService();
                    string name = userInfoService.GetFullName(userId);
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label class="form-label">Đại lý:</label>
                                <div class="form-control">@name</div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="form-label">Nhân viên:</label>
                                <div class="form-control">@name</div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-md-7">
                            <select id="ddlProvider" name="ddlProvider" class="form-control show-tick" data-live-search="true">
                                <option value="">-@Helper.Language.Resource.Label.Option-</option>
                                @Html.Raw(AirAgentService.DropdownListAgent(""))
                            </select>
                            <span id="lblProvider" class="message msg-box"></span>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <select id="ddlEmployee" name="ddlEmployee" class="form-control show-tick" data-live-search="true">
                                    <option value="">-@Helper.Language.Resource.Label.Option-</option>
                                </select>
                                <span id="lblEmployee" class="message msg-box"></span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="top-pic special">
            <label><span><i class="fas fa-user-circle" aria-hidden="true"></i>&nbsp;Thông tin liên hệ:</span></label>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <input class="form-check-input" type="radio" name="rdoPassengerGroup" id="rdoCompany" value="1" data-text="Công ty" />
                    <label class="form-check-label" for="rdoCompany">Công ty</label>
                    <hr class="g-hr" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="form-label">Công ty:</label>
                            <select id="ddlCompany" name="ddlCompany" class="form-control show-tick" data-live-search="true">
                                <option value="">-@Helper.Language.Resource.Label.Option-</option>
                            </select>
                            <span id="lblCompany" class="message msg-box"></span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="form-label">Mã công ty:</label>
                            <div class="form-control disabled" style="background: #FFE5F1"><label id="lblCompanyCodeID">---</label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <input class="form-check-input" type="radio" name="rdoPassengerGroup" id="rdoCustomerSingle" value="2" data-text="Khách lẻ" checked />
                    <label class="form-check-label" for="rdoCustomerSingle">Khách lẻ</label>
                    <hr class="g-hr" />
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group ">
                            <label class="form-label">Tên khách hàng:</label>
                            <input id="txtName" name="txtName" maxlength="15" type="text" class="form-control" value="Hanh Khach 01" />
                            <span id="lblName" class="message msg-box"></span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group ">
                            <label class="form-label">Số đ.thoại:</label>
                            <input id="txtPhone" name="txtPhone" maxlength="15" type="text" class="form-control" value="0983498300" />
                            <span id="lblPhone" class="message msg-box"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="form-label">Địa chỉ email:</label>
                    <input id="txtEmail" name="txtEmail" maxlength="255" type="text" class="form-control" value="hanhkhach01@gmail.com" />
                    <span id="lblEmail" class="message msg-box"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="form-label">Nội dung:</label>
                    <textarea id="txtMessage" class="content-area form-control default"></textarea>
                    <span id="lblMessage" class="message msg-box"></span>
                </div>
            </div>
        </div>
        <div class="form-group text-right m-t-30">
            <a href="/Management/AirBook/Search" class="btn btn-success -w-100"><i class="fa fa-recycle" aria-hidden="true"></i> Tìm kiếm</a>
            <button id="btnBooking" class="btn btn-primary -w-100" type="button"><i class="fas fa-arrow-circle-right"></i> Đặt vé</button>
            <hr />
        </div>
        <div class="form-group">
            <p class="-warning"> <label class="form-label">Lưu ý:</label></p>
            <p class="-warning"><i class="far fa-hand-point-right"></i> 1. Kiểm tra thông tin vé, lịch trình bay.</p>
            <p class="-warning"><i class="far fa-hand-point-right"></i> 2. Kiểm tra thông tin khách hàng.</p>
            <p class="-warning"><i class="far fa-hand-point-right"></i> 3. Nhấn button "Đặt vé" để thực hiện lệnh đặt vé.</p>
            <p class="-warning"><i class="far fa-hand-point-right"></i> 4. Hệ thống sẽ tự động chuyển hướng sau khi lệnh "đặt vé" hoàn tất.</p>
        </div>
    </div>
</section>
@section scripts{
    <script src="~/Areas/Management/_script/app-book.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            BookingOrderLoad();
            $("#ddlPassengerGroup").change();
        });
    </script>
}

