@using WebCore.Services;
@using WebCore.Model.Services
@model ApiPortalBooking.Models.SegmentSearchModel

@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}
@section styles{
    <link href="~/_themes/manage/site/flight.css" rel="stylesheet" />
}
@{
    string originLocation = string.Empty;
    string destinationLocation = string.Empty;
    string departureDateTime = "";
    string returnDateTime = "";
    int adt = 1;
    int cnn = 0;
    int inf = 0;

    if (Model != null)
    {
        //originLocation = Model.OriginLocation;
        //destinationLocation = Model.DestinationLocation;
        //departureDateTime = Model.DepartureDateTime;
        //returnDateTime = Model.ReturnDateTime;
        //adt = Model.ADT;
        //cnn = Model.CNN;
        //inf = Model.INF;
    }

}
<div class="row">
    <div class="container-fluid">
        <div class="form-group">
            <input id="cbxHasTax" name="cbxHasTax" type="checkbox" class="filled-in" checked data-notreload="true" />
            <label for="cbxHasTax" tabindex="1">Bao gồm thuế</label>
        </div>
    </div>
</div>
<div class="tab-content flight">
    <div id="searchTab" class="tab-pane active">
        <h4>Tìm kiếm chuyến bay</h4>
        <div class="row">
            <div class="col-md-7 m-t-15">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Loại hành trình:</label>
                            <select id="ddlItinerary" name="ddlItinerary" class="form-control show-tick" data-live-search="true">
                                @Html.Raw(AirItineraryService.DropdownList(1))
                            </select>
                            <span id="lblItinerary" class="message msg-box"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Hãng hàng không:</label>
                            <select id="ddlAirline" name="ddlAirline" class="form-control show-tick" data-live-search="true">
                                <option value="VN">VN Airline</option>
                                <option value="VJ">Vietjet</option>
                                <option value="JT">Jetstar </option>
                            </select>
                            <span id="lblAirlineType" class="message msg-box"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Nơi đi:</label>
                            <select id="ddlOriginLocation" name="ddlOriginLocation" class="form-control show-tick" data-live-search="true">
                                <option value="-">-@Helper.Language.Resource.Label.Option-</option>
                                @Html.Raw(WebCore.Services.AirportService.DropdownList(originLocation))
                            </select>
                            <span id="lblOriginLocation" class="message msg-box"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Ngày đi:</label>
                            <input id="DepartureDateTime" name="DepartureDateTime" maxlength="10" type="text" class="form-control" value="@departureDateTime" />
                            <span id="lblDepartureDateTime" class="message msg-box"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Người lớn:</label>
                                    <select id="ddlAdt" name="ddlAdt" class="form-control show-tick" data-live-search="true">
                                        @Html.Raw(WebCore.Services.AirportService.DropdownListForNumber(adt.ToString()))
                                    </select>
                                    <span id="7" class="message msg-box"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Trẻ em:</label>
                                    <select id="ddlCnn" name="ddlcnn" class="form-control show-tick">
                                        <option value="0">00</option>
                                        @Html.Raw(WebCore.Services.AirportService.DropdownListForNumber(cnn.ToString()))
                                    </select>
                                    <span id="lblCnn" class="message msg-box"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Nơi đến:</label>
                            <select id="ddlDestinationLocation" name="ddlDestinationLocation" class="form-control show-tick" data-live-search="true">
                                <option value="-">-@Helper.Language.Resource.Label.Option-</option>
                                @Html.Raw(WebCore.Services.AirportService.DropdownList(destinationLocation))
                            </select>
                            <span id="lblDestinationLocation" class="message msg-box"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Ngày về:</label>
                            <input id="ReturnDateTime" name="ReturnDateTime" maxlength="10" type="text" class="form-control" value="@returnDateTime" />
                            <span id="lblReturnDateTime" class="message msg-box"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Em bé:</label>
                                    <select id="ddlInf" name="ddlInf" class="form-control show-tick">
                                        <option value="0">00</option>
                                        @Html.Raw(WebCore.Services.AirportService.DropdownListForNumber(inf.ToString()))
                                    </select>
                                    <span id="lblTitle" class="message msg-box"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Loại vé:</label>
                                    <select id="ddlFlightType" name="ddlFlightType" class="form-control show-tick" data-notreload="true">
                                        <option value="1">Một chiều</option>
                                        <option value="2" selected="selected">Khứ hồi</option>
                                    </select>
                                    <span id="lblTitle" class="message msg-box"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12"><hr /></div>
                </div>
                <div class="btn-group1">
                    <button id="btnReset" class="btn btn-danger" type="button">@Helper.Language.Resource.Label.BtnReset</button>
                    <button id="btnItineraryAdd" class="btn btn-success" type="button">Thêm chặng bay</button>
                </div>
                <div class=" col-md-12 form-group m-t-15" style="border:dashed 1px #ff6a00; height:150px;">
                    <p class="form-label m-b-10 p-t-10">Lưu ý:</p>
                    <p>
                        <i class="fas fa-check-circle"></i> ADT: > 12 tuổi | CHD: 2 tuổi - 12 tuổi | INF: < 2 tuổi
                    </p>
                    <p>
                        <i class="fas fa-check-circle"></i> Số người lớn giới hạn [1-7] người
                    </p>
                    <p>
                        <i class="fas fa-check-circle"></i> Mỗi người lớn chỉ được đính kèm một trẻ em
                    </p>
                </div>
            </div>
            <div class="col-md-5 m-t-15">
                <label class="form-label">LỘ TRÌNH BAY:</label>
                <div class="col-md-12" style="border:dashed 1px #009688">
                    <div class="form-group p-t-30 itinerary-info" style="height:488.4px;">
                        <div class="form-group supplier">
                            <label class="form-label"><i class="fas fa-info-circle"></i> Dịch vụ:</label>
                            <hr />
                            <p class="form-label">Chuyến bay: <span id="infItinerary" data-val="">......</span> ,Hãng: <span id="infAirline" data-val="">......</span></p>
                        </div>
                        <div class="form-group" style="padding-bottom:0;">
                            <label class="form-label"><i class="fas fa-map-marker-alt"></i> Hành trình bay:</label>
                            <hr />
                            <div id="segmentList"></div>
                        </div>
                        <div class="form-group" style="padding-bottom:0">
                            <label class="form-label"><i class="fas fa-user"></i> Hành khách: 3</label>
                            <hr />
                            <p class="form-label">Người lớn: <span id="infAdt" data-val="2">00</span>, Trẻ em: <span id="infCnn" data-val="1">00</span>, Em bé: <span id="infInf" data-val="2">00</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group text-left btn-group1" style="padding-bottom:0px;">
                                <button id="btnDataTab" class="btn btn-success" type="button" data-toggle="tab" href="#dataTab">Danh sách</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group text-right btn-group1" style="padding-bottom:0px;">
                                <button id="btnSearchReset" class="btn btn-danger" type="button">@Helper.Language.Resource.Label.BtnReset</button>
                                <button id="btnSearch" class="btn btn-primary" type="button">@Helper.Language.Resource.Label.BtnSearch</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="dataTab" class="tab-pane fade">
        <h4>Danh sách chặng bay</h4>
        <div class="row">
            <div class="container-fluid mgt-40 mgb-15 flight-wcontent flight-wcontent-go ">
                <div class="table-responsive">
                    <table id="TblSegment" class="table  table-bordered">
                        <thead>
                            <tr>
                                <th>Hãng</th>
                                <th>Loại máy bay / số hiệu</th>
                                <th>Hành trình</th>
                                <th>Khởi hành</th>
                                <th style="width: 500px;">Hạng giá vé</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody id="tblSegmentData">
                            <tr class=trdefault><td>......</td><td>......</td><td>......</td><td>......</td><td>......</td><td>......</td></tr>
                            <tr class=trdefault><td>......</td><td>......</td><td>......</td><td>......</td><td>......</td><td>......</td></tr>
                            <tr class=trdefault><td>......</td><td>......</td><td>......</td><td>......</td><td>......</td><td>......</td></tr>
                        </tbody>

                    </table>
                </div>
                <div id="Pagination"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="container-fluid mgb-15" id="InforCustomerError"></div>
        </div>
        <div class="form-group text-right">
            <a id="btnSearchTab" data-toggle="tab" href="#searchTab" class="btn btn-success -w-100"><i class="fa fa-recycle" aria-hidden="true"></i> Tìm kiếm</a>
            <a id="btnCart" data-toggle="tab" href="#selectedTab" class="btn btn-green -w-100"><i class="fas fa-shopping-cart"></i> Đã chọn</a>
            <button id="btnNextToInf" class="btn btn-primary" type="button"><i class="fas fa-arrow-circle-right"></i> Tiếp tục</button>
        </div>
        <div class="col-md-12" style="border:dashed 1px #ff6a00">
            <div class="form-group">
                <br />
                <p class="-warning"> <label class="form-label">Lưu ý:</label></p>
                <p class="-warning"><i class="far fa-hand-point-right"></i> 01. Kiểm tra lựa chọn chặng bay</p>
                <p class="-warning"><i class="far fa-hand-point-right"></i> 02. Kiểm tra giá vé có thuế và chưa có thuế.</p>
                <p class="-warning"><i class="far fa-hand-point-right"></i> 02. Lưu ý đối với các hạng đặt chỗ giá rẻ.</p>
            </div>
        </div>
    </div>
    <div id="selectedTab" class="tab-pane fade">
        <h4>Danh sách lựa chọn</h4>
        <div class="row">
            <div class="container-fluid mgt-40 mgb-15">
                <div class="table-responsive">
                    <table id="TblCart" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Hãng</th>
                                <th>Loại máy bay / số hiệu</th>
                                <th>Hành trình</th>
                                <th>Khởi hành</th>
                                <th style="width: 500px;">Hạng giá vé</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody id="tblCartData">
                            <tr class="trdefault">
                                <td>......</td>
                                <td>......</td>
                                <td>......</td>
                                <td>......</td>
                                <td>......</td>
                                <td>......</td>
                            </tr>
                            <tr class="trdefault">
                                <td>......</td>
                                <td>......</td>
                                <td>......</td>
                                <td>......</td>
                                <td>......</td>
                                <td>......</td>
                            </tr>
                            <tr class="trdefault">
                                <td>......</td>
                                <td>......</td>
                                <td>......</td>
                                <td>......</td>
                                <td>......</td>
                                <td>......</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="Pagination"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="container-fluid mgb-15" id="InforCustomerError"></div>
        </div>
        <div class="form-group text-right">
            <a id="btnSearchTab" data-toggle="tab" href="#searchTab" class="btn btn-success -w-100"><i class="fa fa-recycle" aria-hidden="true"></i> Tìm kiếm</a>
            <a id="btnCart" data-toggle="tab" href="#dataTab" class="btn btn-green -w-100"><i class="fas fa-database"></i> Danh sách</a>
            <button id="btnNextToBook" class="btn btn-primary" type="button"><i class="fas fa-arrow-circle-right"></i> Tiếp tục</button>
        </div>
        <div class="col-md-12" style="border:dashed 1px #ff6a00">
            <div class="form-group">
                <br />
                <p class="-warning"> <label class="form-label">Lưu ý:</label></p>
                <p class="-warning"><i class="far fa-hand-point-right"></i> 01. Kiểm tra lựa chọn chặng bay</p>
                <p class="-warning"><i class="far fa-hand-point-right"></i> 02. Kiểm tra giá vé có thuế và chưa có thuế.</p>
                <p class="-warning"><i class="far fa-hand-point-right"></i> 02. Lưu ý đối với các hạng đặt chỗ giá rẻ.</p>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script src="~/Areas/Management/_script/app-search.js"></script>
    <script type="text/javascript">
        //Cookies.DelCookie("FlightOrder");
        $(function () {
            $("#DepartureDateTime").datepicker({
                format: 'dd-mm-yyyy',
                startDate: $(this).val(),
                todayHighlight: true,
                language: "vi"
            }).on('changeDate', function (index, item) {
                //
            });
            $("#ReturnDateTime").datepicker({
                format: 'dd-mm-yyyy',
                startDate: $(this).val(),
                todayHighlight: true,
                language: "vi"
            }).on('changeDate', function (index, item) {
                //$("#ReturnDateTime").datepicker("refresh");
            });
        });
    </script>
}