@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.Model.Enum;
@using WebCore.Model.Services
@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}
@model WebCore.Entities.CustomerResult
@{
    try
    {
        string id = "";
        string customerType = "";
        string customerCode = "";
        string parentID = "";
        string title = "";
        string alias = "";
        string summary = "";
        string address = "";
        string phone = "";
        string taxCode = "";
        string contactName = "";
        string contactEmail = "";
        string contactPhone = "";
        double depositAmount = 0;
        double spendingLimit = 0;
        int termPayment = 0;
        string path = "";
        string accountId = "";
        string languageId = "";
        string createdBy = "";
        string createdDate = "";
        string enabled = "...";
        //
        string loginId = "";

        if (Model != null)
        {
            id = Model.ID;
            customerType =  Model.TypeID;
            customerCode = Model.CodeID; 
            parentID = Model.ParentID;
            title = Model.Title;
            alias = Model.Alias;
            summary = Model.Summary;
            address = Model.Address;
            taxCode = Model.TaxCode;
            contactName = Model.ContactName;
            contactEmail = Model.ContactEmail;
            contactPhone = Model.ContactPhone;
            depositAmount = Model.DepositAmount;
            spendingLimit = Model.SpendingLimit;
            termPayment = Model.TermPayment;
            path = Model.Path;
            //
            languageId = Model.LanguageID;
            createdBy = Model.CreatedBy;
            createdDate = Convert.ToString(Model.CreatedDate);
            if (Model.Enabled == (int)ModelEnum.Enabled.ENABLED)
            {
                enabled = "Đang hoạt động";
            }
            else
            {
                enabled = "Không hoạt động";
            }
            loginId = UserService.GetLoginIDByID(accountId);
        }


        <div class="row details">
            <div class="col-md-8">
                <div class="top-pic">
                    <i class="fas fa-file-invoice"></i>&nbsp;<label>Thông tin hồ sơ:</label>
                </div>
                <div class="form-group"><i class="fas fa-check-circle"></i>&nbsp;<label class="form-label">Loại khách hàng:</label>&nbsp;<span>@customerType</span></div>
                <div class="form-group"><i class="fas fa-check-circle"></i>&nbsp;<label class="form-label">Mã khách hàng:</label>&nbsp;<b style="color:#F00;">@customerCode</b></div>
                <div class="form-group"><i class="fas fa-check-circle"></i>&nbsp;<label class="form-label">Tên khách hàng:</label>&nbsp;<span>@title</span></div>
                <div class="form-group"><i class="fas fa-check-circle"></i>&nbsp;<label class="form-label">Mô tả:</label>&nbsp;<span>@summary</span></div>
                <div class="form-group"><i class="fas fa-check-circle"></i>&nbsp;<label class="form-label">Đ.thoại:</label>&nbsp;<span>@phone</span></div>
                <div class="form-group"><i class="fas fa-check-circle"></i>&nbsp;<label class="form-label">Địa chỉ:</label>&nbsp;<span> @address</span></div>

                <div class="top-pic special">
                    <i class="fas fa-server"></i>&nbsp;<label>Dịch vụ:</label>
                </div>
                <div class="form-group"><i class="fas fa-check-circle"></i>&nbsp;<label class="form-label">Đặt cọc:</label>&nbsp;<b class="text-dark">@Helper.Page.Library.FormatCurrency(depositAmount) đ</b></div>
                <div class="form-group"><i class="fas fa-check-circle"></i>&nbsp;<label class="form-label">Thời hạn TT(ngày):</label>&nbsp;<span>@termPayment</span></div>
                <div class="top-pic special">
                    <label><i class="fas fa-address-book"></i>&nbsp;<span>Thông tin liên hệ:</span></label>
                </div>
                <div class="form-group"><i class="fas fa-check-circle"></i>&nbsp;<label class="form-label">Người liên hệ:</label>&nbsp;<span>@contactName</span></div>
                <div class="form-group"><i class="fas fa-check-circle"></i>&nbsp;<label class="form-label">E-mail:</label>&nbsp;<span>@contactEmail</span></div>
                <div class="form-group"><i class="fas fa-check-circle"></i>&nbsp;<label class="form-label">Đ.thoại:</label>&nbsp;<span>@contactPhone</span></div>

                <div class="top-pic">
                    <i class="fas fa-file-invoice"></i>&nbsp;<label>Hoạt động</label>
                </div>
                <div class="form-group"><i class="fas fa-check-circle"></i>&nbsp;<label class="form-label">Trạng thái:</label>&nbsp;<span>@enabled</span></div>
                <div class="form-group"><i class="fas fa-check-circle"></i>&nbsp;<label class="form-label">Ngày tạo:</label>&nbsp;<span>@createdDate</span></div>
                @{
                    if (PermissionService.CheckActionInMenuItem(Helper.Page.MetaSEO.ControllerText, WebCore.Entities.RoleActionKey.DataList))
                    {
                        <div class="form-group text-right att-data-list">
                            <a href="@Helper.Page.Navigate.PathDataList()">
                                @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    }
    catch (Exception)
    {
        @Html.Partial("~/Areas/Template/Views/_ViewNotPageLoadPatial.cshtml", null)
    }
}