@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}
@using WebCore.Entities;
@using WebCore.Services;
@using WebCore.Model.Enum;

@model WebCore.Entities.CMSRoleResult

@{
    string id = "";
    string areaId = "";
    string title = "";
    string imageFile = "";
    string summary = "";
    int Level = 0;
    string languageId = "";
    string createdBy = "";
    string createdDate = "";
    string enabled = "None";
    try
    {
        if (Model != null)
        {
            id = Model.ID;
            areaId = Model.AreaID;
            title = Model.Title;
            summary = Model.Summary;
            Level = Model.Level;
            languageId = Model.LanguageID;
            createdBy = Model.CreatedBy;
            createdDate = Model.CreatedDate;
            imageFile = Helper.File.AttachmentFile.GetFile(imageFile);
            enabled = "None";
            if (Model.Enabled == (int)ModelEnum.Enabled.ENABLED)
            {
                enabled = "ENABLED";
            }
            else if (Model.Enabled == (int)ModelEnum.Enabled.DISABLE)
            {
                enabled = "DISABLE";
            }
        }
    }
    catch (Exception)
    {

    }
}
<div class="row">
    <div class="col-md-8">
        <div class="top-pic">
            <i class="fas fa-file-invoice"></i>&nbsp;<label>Thông tin:</label>
        </div>
        <div class="form-group"><i class="fas fa-check-circle"></i> Tiêu đề: @title</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> Mô tả: @summary</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> Cấp quản lý: @Level</div>
        <div class="form-group"><i class="fas fa-hand-point-right"></i> Lưu ý: Cấp độ tăng dần theo chiều giảm dần của giá trị cấp độ.</div>
        <div class="top-pic">
            <i class="fas fa-file-invoice"></i>&nbsp;<label>Hoạt động</label>
        </div>
        <div class="form-group"><i class="fas fa-check-circle"></i> Trạng thái: @enabled</div>
        <div class="form-group"><i class="fas fa-check-circle"></i> Ngày tạo hồ sơ: @createdDate</div>
        <div class="form-group text-right att-data-list">
            <a href="@Helper.Page.Navigate.PathDataList()">
                @Helper.Language.Resource.Label.DataList <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>
